@media (max-width: 1280px) {
  .cabecalho {
    padding: 30px;
  }

  .home {
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 0.2rem;
  }

  .home .informacoes {
    max-width: 100%;
  }
  .home .redes-sociais {
    justify-content: center;
  }

  .projetos .container-projetos {
    padding: 0 30px;
  }
}

@media (max-width: 420px) {
  .home .informacoes h1 {
    font-size: 16px;
  }

  .home .informacoes p {
    font-size: 14px;
  }

  .home .container-foto .foto .perfil {
    max-width: 320px;
  }

  .projetos {
    padding: 30px;
  }
}
